:root {
  --background: #141414;
  --container: #1f1f1f;
  --button: #333333;
  --text: #ffffff;
  --herotext: #c5f82a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  height: 130vh;
  width: 40%;
  margin: 7em auto;
  background: var(--container);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
}

.profile-image {
  max-width: 100px;
  width: 70%;
  height: auto;
  border-radius: 50%;
  margin: 1em auto;
}

h1 {
  color: var(--text);
  font-size: 1.5em;
  margin-top: 0.5em;
}

span {
  color: var(--herotext);
  font-size: 1em;
  margin-bottom: 1.5em;
}

p {
  font-size: 1em;
  margin-bottom: 0.5em;
  color: rgba(255, 255, 255, 0.767);
}
.button {
  width: 80%;
  height: 7%;
  background-color: var(--button);
  margin: 0.8em;
  padding: 1em;
  text-align: center;
  border-radius: 10px;
  font-size: 1.2em;
}

.button:hover {
  background-color: var(--herotext);
  cursor: pointer;
  color: var(--background);
}

.buttonin {
  width: 100px;
  height: 50px;
}
